.login-page{
    height: 92.8vh;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.login-page-content{
    width: 40%;
    margin: 0 auto;
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.login-page-content button {
    border: none;
    background: none;
    color: #0072ff;
    outline: none;
}
.login-page-content  * {
    width: 100%;
    display: block;
    text-align: left;
}
.login-page-content input{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}
.login-page-content a{
    display: inline;
}
.login-page-content > p {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}
.login-button{
    background: #efa620;
    text-align: center;
    border-bottom: none;
    border: none;
    outline: none;
    padding: 4px 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.login-page-content .reset-pass{
    margin-bottom: -15px;
    display: block;
    margin-left: auto;
}
