.navBar-style img{
    width: 80px;
}
.nav-item > * {
    margin-left: 20px;
    color: black;
}
.login-button-header{
    background: #efa620;
    color: black;
    padding: 2px 10px;
    border-radius: 5px;
}