.home{
    display: flex;
    align-items: center;
    height: 92.8vh;
}
.travel-content{
    width: 40%;
    text-align: left;
}
.travel-destination-image{
    width: 60%;
    display: flex;
}
.image-div{
    width: 30%;
    margin: 0 10px;
    position: relative;
}
.image-div h4{
    position: absolute;
    bottom: 10px;
    left: 37px;
    text-shadow: 2px 2px 2px #4a594a;
}
.travel-destination-image img{
    /* margin: 0 10px; */
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}
.travel-details{
    display: flex;
    align-items: center;
    color: white;
    margin: 0 auto;
}

.image-border{
    border: 4px solid #f7980c;
    border-radius: 20px;
}